<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Iris 예측 (API KEY 입력)</title>
</head>
<body>
<h4 class="main">Iris 품종 예측</h4>
{% if user_id %}
  <p>로그인된 사용자: {{ user_id }}</p>
{% endif %}

{% if error %}
    <div style="color: red;">{{ error }}</div>
{% endif %}

<form method="post" action="{{ url_for('iris.iris_predict') }}">
    {{ form.hidden_tag() }}
    <label class="main_italic">
        {{ form.api_key.label }}: {{ form.api_key(size=20) }}
    </label><br>
    <label>
        {{ form.sepal_length.label }}: {{ form.sepal_length(step="any") }}
    </label><br>
    <label>
        {{ form.sepal_width.label }}: {{ form.sepal_width(step="any") }}
    </label><br>
    <label>
        {{ form.petal_length.label }}: {{ form.petal_length(step="any") }}
    </label><br>
    <label>
        {{ form.petal_width.label }}: {{ form.petal_width(step="any") }}
    </label><br>
    {{ form.submit() }}
</form>

{% if result %}
    <h2>예측 결과: {{ result }}</h2>
    <ul>
        <li>Sepal Length: {{ form.sepal_length.data }}</li>
        <li>Sepal Width: {{ form.sepal_width.data }}</li>
        <li>Petal Length: {{ form.petal_length.data }}</li>
        <li>Petal Width: {{ form.petal_width.data }}</li>
    </ul>
{% endif %}
</body>
</html>